<h1>bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <p>
        <%= booking.restaurant.name %>
      </p>
      <p>
        <%# https://apidock.com/ruby/DateTime/strftime %>
        Booked from: <%= booking.start_on.strftime('%d/%b/%Y %H:%M') %>
        Booked to: <%= booking.end_on.strftime('%d/%b/%Y %H:%M') %>
      </p>
    </li>
  <% end %>
</ul>


<div class="w-50 m-auto">
  <h2>Create a new booking</h2>
  <%= simple_form_for @booking do |f| %>

    <% if f.object.errors[:base].present? %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence %>
    <% end %>

    <%= f.input :start_on, as: :string, input_html: {class: "datepicker"} %>
    <%= f.input :end_on, as: :string, input_html: {class: "datepicker"} %>

    <%# It would work as date as well! %>
    <%# f.input :booked_at, as: :date, html5: true %>
    
    <%= f.association :restaurant %>
    <%= f.submit %>
  <% end %>
</div>
